body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;


  #alert-root{
    position: absolute;
    width: 100%;
    transform: translateY(-100%);
  }
}
