.alert-wrapper{
  padding: 0 20px;
  display: flex;
  justify-content: center;
  .alert.table-alert {
    width: auto;
    padding: 4px 30px;
    .close {
      padding: 2px;

      &:focus {
        outline: none;
      }
    }
  }
}