*{
  &:focus{
    outline: none;
  }
}

.table {
  td{
    width: 220px;
  }
  .no-data{
    text-align: center;
  }
}
.footer {
  &-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &-buttons{
    display: flex;
    .download{
      margin-left: 10px;
    }
  }
}



