*{
  &:focus{
    outline: none;
  }
}

.table {
  td{
    width: 220px;
  }
  .no-data{
    text-align: center;
  }
  tfoot{
    .footer {
      &-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-buttons{
        display: flex;
        .download{
          margin-left: 10px;
        }
      }
    }
  }
}



