@import "../../node_modules/bootstrap/scss/bootstrap";

body{
  font-family: Roboto, Arial, sans-serif;
}

.logo{
  position: absolute;
  font-weight: 700;
  left: 30px;
  top: 8px;
}
nav{
  height: 50px;
}

a.nav-link{
  &.active{
    background-color: #f8f9fa !important;
  }
  &:not(.active):hover{
    border: none;
    background-color: transparent;
  }
}
