.login {
  &-wrapper {
   padding: 120px;
    .card{
      margin: 0 auto;
      min-width: 400px;
    }
    .login-buttons {
      display: flex;
      justify-content: space-between;
    }
    .error-alert{
      max-width: 400px;
      margin: 30px auto;
    }
  }
  &-title{
    font-size: 25px;
    font-weight: 700;
  }
}