.sorting {
  display: flex;
  flex-direction: column;

  .up {
    cursor: pointer;
    margin-top: -8px;
    &.disabled{
      cursor: auto;
    }
  }

  .down {
    cursor: pointer;
    &.disabled{
      cursor: auto;
    }
  }
}