.filterPopUp{
  position: absolute;
  min-width: 200px;
  padding: 2px;
  transform: translateY(100%);
  right: 0;
  bottom: 0;
  border: 2px solid #dee2e6;
  text-align: right;
  &.hidden{
    display: none;
  }
  .form-control:focus{
    outline: none;
    border-color: transparent;
    box-shadow: none;
  }
}