*{
  &:focus{
    outline: none;
  }
}

.table {
  th {
    position: sticky;
    top: -4px;
    padding-right: 0;
    z-index: 5;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 40px;
      .icons {
        display: flex;
      }
    }
  }
  td{
    width: 220px;
  }
}
.footer {
  &-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-buttons{
    display: flex;
    .download{
      margin-left: 10px;
    }
  }
}


