.alert-wrapper{
  position: sticky;
  top: 20px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  .alert.table-alert {
    width: auto;
    padding: 10px 30px;
    z-index: 100;
    .close {
      padding: 2px;

      &:focus {
        outline: none;
      }
    }
  }
}